// Media Query For nav on Smaller Screens

@media screen and (max-width: 780px) {
  .ham {
    display: unset;
    cursor: pointer;
  }

  .menu-links {
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    gap: 50px;
    background-color: $Very-Dark-Violet;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: 100;

    
    &.active {
        display: flex;
    }

    

    .btn {
      border-color: $white;
      color: $white !important;
    }

    .btn:hover {
      color: $darkViolet !important;
      background-color: $white;
    }
  }

  .menu-bar li a {
    color: $white;
  }

  .menu-bar li a:hover {
    color: darken($color: $white, $amount: 20);
  }
}


// Larger screen media query

@media screen and (min-width: 780px) {
  // Hero section

  .full-width {
    background-color: $darkViolet;
    position: relative;
        
    &::before {
        content: '';
        height: 60%;
        width: 60%;
        position: absolute;
        background: url('../images/bg-pattern-intro-right-desktop.svg') no-repeat;
        background-position: top right;
        background-size: contain;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &::after {
        content: '';
        height: 60%;
        width: 60%;
        position: absolute;
        background: url('../images/bg-pattern-intro-left-desktop.svg') no-repeat;
        background-size: contain;
        background-position: bottom left;
        z-index: 1;
        bottom: -200px;
    }
    }

  

  .hero {
    position: relative;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 100px 20px;
    margin: auto;

    .text-box {
      flex-basis: 50%;
      text-align: left;
      background: none;
      padding: 0 20px 0 0;

      h1 {
        font-size: 3.2rem;
      }

      .line {
        display: block;
        background-color: $white;
        margin-bottom: 50px;
      }
    }

    .img-box {
      margin-bottom: -290px;
      flex-basis: 50%;
    }

    .hero-img {
      width: 100%;
      display: block;
    }
  }

  // Features Section

  .features {
    margin-top: 250px;

    h2 {
        font-size: 3rem;
        text-align: left !important;
      }

    .line {
        margin: 0 0 30px !important;
    }

    .cards-box {
      margin-top: 100px;
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      
    }
  }

  // CTA Section

  .cta {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg") !important;

    h3 {
      text-align: left;
      flex-basis: 500px;
    }
  }

  //Footer Section

  .footer {
    background-image: url("../images/bg-pattern-footer-desktop.svg") !important;
    background-size: 10px;
    background-position: top left;

    .foot-head {
        flex-direction: row !important;
        justify-content: space-between;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .foot-body {
        grid-template-columns: repeat(4, 1fr) !important;

        .foot-links, .foot4 {
            text-align: left;
            height: 220px;
        }
    }
  }
}

